<% provide(:title, "About Me")
  @aboutactive=" active"
  @imag= "me.png"
  @alt="Me"
  @size="192x260"
%>
<h1>About Me</h1>
<p>I am Julio Cesar, a person like many in the world. With ambitions and desires but different from many of them.
    I like music, video games, movies, series, anime, read manga, etc. I'm a sofotware ingenier, who wants know about the world, about technologies and travel knowing people such as me.
    <br>I'm a simple person that can learn, teach and listen other people.</p>
