<% provide(:title, "Home")
  @homeactive="active"
  @imag="http://ramenparados.com/wp-content/uploads/2016/10/though-really-this-guy-is-more-my-type1.png"
  @size= "440x320"
  @alt="Working"
%>
    <h2>Welcome!</h2>
    <h1>Hello everyone!</h1>
<p>This is a page created for educational purposes in which you can read information about me, created to learn ruby on rails.</p>
