<% provide(:title, "My Favorite Sport")
  @sportactive=" class=\"active\"".html_safe
 %>
<h1>Volleyball</h1>
<h2>Favorite Sport</h2>
<p>My favorite sport is volleyball, this a sport where you need communication with your partners, concentration and good technique (referent to moves of the sport).
    <br>I practiced this sport in secondary school, high school and part of first semester of university but in the actually i don't practice any more.
    <br>I like watch matchs of the olimpics games for remember the old times.</p>
<p>Volleyball is a team sport in which two teams of six players are separated by a net. Each team tries to score points by grounding a ball on the other team's court under organized rules.[1] It has been a part of the official program of the Summer
    Olympic Games since 1964.</p>
